<acs-checkbox
    [checked]="checked"
    (clicked)="Clicked()"

    [color]="color"
    [icoChecked]="icoChecked"
    [icoNotChecked]="icoNotChecked"
></acs-checkbox>
<br>

<br>
<br>
<p>mat-checkbox de la Angular Material</p>
<mat-checkbox
    color="primary"
    class="mat-icon-padding"
    mat-icon-button
>
</mat-checkbox >

<!-- <div *acsTree="let element of numbers">
    {{element}} - Foo
</div>

<br>
<br>

<div *ngFor="let element of numbers; let i = index">
    {{i + 1}} - {{element}}
</div> -->